@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(bn/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(0, 0, 0);
    font-family: Ubuntu ;
    width: 100%;
    height: 100%;
}  
.container {
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
}
ul {
    display: flex;
    justify-content:flex-end;
    gap: 20px;
    margin-left: 40rem;
    align-items: center;
}
.menu-item {
    margin: auto;
}
.dot {
    color:red;
}
button {
    width: 70px;
    height: 40px;
    font-family: ubuntu;
}
.main-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.text-area{
    margin: auto;
    padding-bottom: 40px;
}
.hello{
    font-size: 25px;
}
.dev{
    font-size: 50px;
}
.picture-area{
    margin-right: 50px;
}

.buttons{
    display: flex;
    gap: 20px   ;
    justify-content: center ;
    margin-top: 20px;
    
   
}
.cv{
    width: 200px;
    font-family: ubuntu;
    font-weight: bold;
    color:rgb(0, 0, 0);
}
.dev2{
    color:red;
}
.hire{
    color:rgb(0, 0, 0);
    font-weight: bold;
}
.icons{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}